/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2017, 5:52:24 PM
    Author     : lee
*/

#headerBar {
    width: 75%;
    margin: auto;
    height: auto;
}

#addNoteButton {
    background-color: #3498db;
    color: white;
    
    height: 35px;
    width: 100px;
    
    box-shadow: 0px 1px 8px #3498db;

    border: 0;
    
    margin-right: 12px;
    margin-top: 12px;
    
    border-radius: 3px;
}

#removeNoteButton {
    color: white;
    background-color: #e74c3c;
    
    height: 35px;
    width: 100px;
        
    box-shadow: 0px 1px 8px #e74c3c;

    border: 0;
    
    margin-right: 12px;
    margin-top: 12px;
    
    border-radius: 3px;
}

#addNoteMessage {
    height: 31px;
    width: 50%;
    
    border-style: solid;
    border-width: 1px;
    border-color: #3498db;
    border-radius: 3px;
    
    box-shadow: 0px 1px 6px darkgray;
    padding-left: 12px;
    padding-right: 12px;
    
}

.listItem {
    color: black;
    background-color: white;
    box-shadow: 0px 1px 8px darkgray;
    
    height: auto;
    width: 75%;
    margin: auto;
    
    line-height: 50px;
    
    padding-left: 24px;
    padding-right: 24px;

    border-radius: 3px;
    word-wrap: break-word;
   
}